.label{
    -fx-effect: dropshadow(one-pass-box, grey , 12, 0.0, 4, 6);
    -fx-font-size: 20;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.button{
    -fx-font: 16px "Serif";
    -fx-text-alignment: CENTER;
}

